.main {
  color: white;
  text-align: center;
}

.card {
    color: black;
    opacity: 0.9;
}

.angular-logo {
  margin: 2px;
  background-repeat: no-repeat;
  display: inline-block;
}

.controls {
  font-size: 24px;
}

.blocks {
  text-align: center;
}
.block {
  height: 20px;
  position: relative;
  width: 60px;
}
