body {
  background: black url("https://images.pond5.com/planet-cartoon-space-animation-background-footage-090106997_prevstill.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}
